---
- name: Copy SQL database schema to server
  copy:
    src: schema.sql
    dest: /tmp

- name: Set up SQL schema of mailserver database
  postgresql_db:
    name: mailserver
    state: restore
    target: /tmp/schema.sql
  become: true
  become_user: postgres

- name: Give pgadmin rights on the mail db
  postgresql_privs:
    database: mailserver
    type: table
    objs: "{{ item }}"
    roles: pgadmin
    privs: SELECT,INSERT,UPDATE,DELETE
  with_items:
    - virtual_domains
    - virtual_alias_domains
    - virtual_aliases
    - virtual_users
  become: true
  become_user: postgres

  # This line is mandatory in order for pgadmin to be able to use the SERIALs
- name: Give pgadmin rights on the mail db serials
  postgresql_privs:
    database: mailserver
    type: sequence
    objs: "{{ item }}"
    roles: pgadmin
    privs: SELECT,USAGE
  with_items:
    - virtual_domains_id_seq
    - virtual_alias_domains_id_seq
    - virtual_aliases_id_seq
    - virtual_users_id_seq
  become: true
  become_user: postgres

- name: Give mail user rights on the mail db
  postgresql_privs:
    database: mailserver
    type: table
    objs: "{{ item }}"
    roles: mail
    privs: SELECT
  with_items:
    - virtual_domains
    - virtual_alias_domains
    - virtual_aliases
    - virtual_users
  become: true
  become_user: postgres
