user = mail
hosts = {{ ispmail_postfix_database_hosts|join(' ') }}
password = {{ ispmail_postfix_database_password }}
dbname = mailserver
query = SELECT '@' || destination FROM virtual_alias_domains WHERE ('@' || source)='%s'
