service replicator {
  process_min_avail = 1
  unix_listener replicator-doveadm {
    mode = 0600
    user = vmail
  }
}

service aggregator {
  fifo_listener replication-notify-fifo {
    user = vmail
  }
  unix_listener replication-notify {
    user = vmail
  }
}

service doveadm {
  inet_listener {
    port = {{ ispmail_dovecot_doveadm_port }}
    ssl = yes
  }
}

doveadm_port = {{ ispmail_dovecot_doveadm_port }}
doveadm_password = {{ ispmail_dovecot_doveadm_secret }}

# Those 10 and 15 seconds timeout workaround and io issue
# when running in containers during local development
replication_dsync_parameters = -d -N -l 15 -T 10 -U
