# This file is commonly accessed via passdb {} or userdb {} section in
# conf.d/auth-sql.conf.ext

# This file is opened as root, so it should be owned by root and mode 0600.
#
# http://wiki2.dovecot.org/AuthDatabase/SQL
#
# {{item.name}} database configuration file

driver = pgsql
connect = host={{ item.address }} dbname=mailserver user=mail password={{ ispmail_dovecot_database_password }}
user_query = SELECT '/var/vmail/%d/%n/' as home, 5000 AS uid, 5000 as gid FROM virtual_users AS u JOIN virtual_domains AS d ON u.domain_id = d.id WHERE u.email=split_part('%n','_',1) AND d.name='%d';
default_pass_scheme = SHA512-CRYPT
password_query = SELECT u.email||'@'||d.name as user, u.password as password  FROM virtual_users AS u JOIN virtual_domains AS d ON u.domain_id = d.id WHERE u.email='%n' AND d.name='%d'
iterate_query = SELECT email AS user FROM virtual_users;

