---
ispmail_certificate_directory: /etc/letsencrypt/live/sub.domain.tld
ispmail_certificate_location: /etc/letsencrypt/live/sub.domain.tld/fullchain.pem
ispmail_certificate_keyfile: /etc/letsencrypt/live/sub.domain.tld/privkey.pem
#ispmail_certificate_cafile: /etc/letsencrypt/live/sub.domain.tld/chain.pem

ispmail_certificate_country: DE
ispmail_certificate_state: Hamburg
ispmail_certificate_city: Hamburg
ispmail_certificate_organisation: workaround.org
ispmail_certificate_orgunit: IT-Crowd
ispmail_certificate_domains:
  - example.org
ispmail_certificate_email: postmaster@example.org
ispmail_certificate_days_valid: 3650

node_ca_key: /etc/ssl/ca/privkey.pem
node_ca_cert: /etc/ssl/ca/cert.pem
