---
- name: Purge Exim installation
  apt:
    name:
      - exim4
      - exim4-base
      - exim4-config
      - exim4-daemon-light
    state: absent
    purge: true

- name: Install postfix packages
  apt:
    name:
      - postfix
      - postfix-pgsql
    state: present
  register: apt_result
  until: apt_result is succeeded
  retries: 3

- name: Grant user postfix read permission on the private key
  acl:
    path: "{{ ispmail_certificate_keyfile }}"
    entity: postfix
    etype: user
    permissions: r
    state: present

- name: Define Postfix sender login mapping
  template:
    src: "{{ item }}.j2"
    dest: "/etc/postfix/{{ item }}"
    mode: 0644
  notify: restart postfix
  loop:
    - pgsql-sender-login-maps.cf
    - pgsql-virtual-mailbox-domains.cf
    - pgsql-virtual-mailbox-maps.cf
    - pgsql-virtual-alias-maps.cf
    - pgsql-email2email.cf

- name: Copy main.cf conf file
  template:
    src: main.cf.j2
    dest: /etc/postfix/main.cf
  notify: restart postfix

- name: Copy master.cf conf file
  template:
    src: master.cf.j2
    dest: /etc/postfix/master.cf
  notify: restart postfix
